<div class="lsw_filesystem_treeviewer">
    <table class="filesystem_treeviewer_table width_100">
        <thead style="display: none;"></thead>
        <tbody>
            <tr v-if="explorer.current_node !== '/'"
                class="treeviewer_row">
                <td>📁</td>
                <td v-on:click="() => go_up()">
                    <a href="javascript:void(0)">..</a>
                </td>
                <td></td>
            </tr>
            <template v-for="subnode, subnodeIndex, subnodeCounter in explorer.current_node_subnodes">
                <tr class="treeviewer_row"
                    v-bind:key="'subnode_obj_' + subnodeIndex">
                    <template v-if="typeof subnode === 'object'">
                        <td v-on:click="() => open_subnode(subnodeIndex)">📁</td>
                        <td v-on:click="() => open_subnode(subnodeIndex)">
                            <a href="javascript:void(0)"><b>{{ subnodeIndex }}</b></a>
                        </td>
                        <td>
                            <button class="mini">X</button>
                        </td>
                    </template>
                    <template v-else-if="typeof subnode === 'string'">
                        <td v-on:click="() => open_subnode(subnodeIndex)"> </td>
                        <td v-on:click="() => open_subnode(subnodeIndex)">
                            <a href="javascript:void(0)">{{ subnodeIndex }}</a>
                        </td>
                        <td>
                            <button class="mini">X</button>
                        </td>
                    </template>
                </tr>
            </template>
        </tbody>
    </table>

</div>